RewriteEngine On
RewriteBase /network-notebook/

# Якщо запит на корінь проекту, перенаправляємо на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php [L]

# Дозволяємо доступ до всіх файлів напряму
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Всі інші запити перенаправляємо на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
